<footer class="d-flex align-items-center justify-content-around bg-dark text-white p-2">
    <div>
        &copy; CopyRights Reserved.
    </div>
    <div class="m-2">
        <a href="javascript:void()" class="rounded roundeed-1 text-white"><span class="bi-linkedin m-2"></span></a>
        <a href="javascript:void()" class="rounded roundeed-1 text-white"><span class="bi-x m-2"></span></a>
        <a href="javascript:void()" class="rounded roundeed-1 text-white"><span class="bi-instagram m-2"></span></a>
        <a href="javascript:void()" class="rounded roundeed-1 text-white"><span class="bi-discord m-2"></span></a>
    </div>
</footer>